@{
    ViewBag.Title = "signup";
}

@model PAS.Models.User

<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Registration</h1>
            </header>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">Register a new account</h3>
                        <p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="/Home/signin">Login</a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
                        <hr>

                        @using (Html.BeginForm())
                        {

                            <div class="top-margin">
                                <label>First Name</label>
                                @Html.EditorFor(model => model.FirstName)
                                @Html.ValidationMessageFor(model => model.FirstName)
                                <label id="result"></label>
                            </div>
                            <div class="top-margin">
                                <label>Last Name</label>
                                @Html.EditorFor(model => model.LastName)
                                <div id="d1">@Html.ValidationMessageFor(model => model.LastName)</div>
                            </div>
                            <div class="top-margin">
                                <label>Email Address <span class="text-danger">*</span></label>
                                @Html.EditorFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>

                            <div class="row top-margin">
                                <div class="col-sm-6">
                                    <label>Password <span class="text-danger">*</span></label>
                                    @Html.EditorFor(model => model.Password)
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                                
                            </div>

                            <hr>

                            <div class="row">
                                @*<div class="col-lg-8">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        I've read the <a href="page_terms">Terms and Conditions</a>
                                    </label>
                                </div>*@
                                <div class="col-lg-4 text-right">
                                    <button id="b1" class="btn btn-action" type="submit">Register</button>
                                </div>
                            </div>
                        }

                        @Scripts.Render("~/bundles/jquery")
                        <script>


                            $(document).ready(function () {

                                $('#FirstName').focusout(function () {

                                    var userName = $('#FirstName').val();
                                    
                                    //alert('User Name ='+ userName);
                                    $('#checking').show();
                                    $.getJSON("/Users/CheckUserName?UserName=" + userName, function (data) {

                                        if (data) {
                                            $('#result').text("First Name already exists...");

                                        }
                                        else {
                                            $('#result').text("First Name is available!");
                                        }
                                    });

                                });

                            });

                        </script>

                    </div>
                </div>

            </div>

        </article>
        <!-- /Article -->

    </div>
</div>	<!-- /container -->
